/*******************TAG SELECTOR******************/
body {
	background-color: #eeeeee;
}
hr{
	border-style: dotted none none none;
	border-color: #00adb5;
	border-width: 5px;
	width: 5%;
}
h1{
  color: #222831;
}
h3{
  /*color: #393e46;*/
	color: #00adb5;
}
/*******************CLASS SELECTOR******************/
.myPhoto{
	border-radius: 100%;
}
